---
import Layout from "@/layouts/Layout.astro";
import { LoginForm } from "@/features/auth";
---

<Layout>
  <div class="container">
    <a href="/" class="inline-block text-teal-500 underline mb-6">Home</a>
    <h2 class="text-3xl font-bold tracking-wider capitalize mb-6">Login</h2>
    <LoginForm client:load />
  </div>
</Layout>
