---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="bg-teal-100 py-24">
    <div class="container">
      <h1 class="text-7xl font-bold tracking-wider capitalize">Quiz app</h1>

      <p class="mt-2 text-lg tracking-wide">
        Let's take a short quiz! If you already have an account, you can login
        here. Or create a new account by clicking on the sign up button
      </p>

      <div class="flex gap-6 mt-4">
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">Sign up</a>
      </div>
    </div>
  </section>
</Layout>
