---
import Layout from "../layouts/Layout.astro";

const { user } = Astro.locals;
const isAdmin = user && user.role === "admin";
const isUser = user && user.role === "user";
---

<Layout>
  <section class="bg-teal-100 py-24">
    <div class="container">
      <h1 class="text-7xl font-bold tracking-wider capitalize">Quiz app</h1>

      {
        !user && (
          <p class="mt-2 text-lg tracking-wide">
            Let's take a short quiz! If you already have an account, you can
            login here. Or create a new account by clicking on the sign up
            button
          </p>
        )
      }

      {
        !user && (
          <div class="flex gap-6 mt-4">
            <a href="/login" class="btn">
              Login
            </a>
            <a href="/signup" class="btn">
              Sign up
            </a>
          </div>
        )
      }

      {
        user && (
          <h2 class="text-2xl font-bold capitalize tracking-wide mt-2">
            Welcome {user.role}!
          </h2>
        )
      }

      {
        isAdmin && (
          <div class="flex gap-6 mt-4">
            <a href="/dashboard" class="btn">
              Admin dashboard
            </a>
          </div>
        )
      }

      {
        isUser && (
          <div class="flex gap-6 mt-4">
            <a href="/quiz" class="btn">
              Start quiz
            </a>
          </div>
        )
      }
    </div>
  </section>
</Layout>
