---
import { SignupForm } from "@/features/auth";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <a href="/" class="inline-block text-teal-500 underline mb-6">Home</a>
    <h2 class="text-3xl font-bold tracking-wider capitalize mb-6">Sign up</h2>
    <SignupForm client:load />
  </div>
</Layout>
