---
import "@/app/styles/global.css";
import { Toast } from "@/features/toasts";
import { Header } from "@/widgets/header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Quiz</title>
  </head>
  <body>
    <Header />
    <slot />
    <div class="container">
      <Toast client:load />
    </div>
  </body>
</html>
